body {
  margin: 0;
  background-color: #121826;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  transition: all 1s ease-in-out;
}

#logo {
  transition: all 1s ease-in-out;
  opacity: 1;
}
